<input type="text" placeholder="Поиск">

<select name="" id="">
  <option value="">Мин Цена</option>
  <option value="">1000 руб</option>
  <option value="">2000 руб</option>
  <option value="">3000 руб</option>
</select>

<select name="" id="">
  <option value="">Макс цена</option>
  <option value="">1000 руб</option>
  <option value="">2000 руб</option>
  <option value="">3000 руб</option>
</select>

<select name="" id="">
  <option value="">Пробег</option>
  <option value="">Без пробега</option>
  <option value="">До 3000 км</option>
  <option value="">До 7000 км</option>
</select>