<h2>Описание</h2>
<p>Street Bob – это мотоцикл, в котором нет ничего лишнего и на котором хорошо ездить, выставив руки навстречу ветру.
  Черная отделка, колеса со спицами, цифровая приборная панель скрытого типа, педали и подножки переднего расположения и
  укороченные крылья. Двигатель Milwaukee-Eight® 107 (1745 см3) имеет достаточную мощь, чтобы пейзаж в ваших зеркалах
  стремительно удалялся. В нем есть все, что вам нужно, и ничего более. Доступная цена этого мотоцикла делает его еще
  более привлекательным.</p>