<footer>
  <div class="info">
    <div class="address">
      Harley-Davidson<sup>&copy;</sup> Минск, Независимости пр., 84а +375 29 123-45-67
      <span>e.tverdokhleb@harley-davidson-minsk.by</span>
    </div>
    <div class="copyright">
      &copy; H-D 2020. Названия Harley, Harley-Davidson и логотип являются одними из торговых марок H-D USA, LLC
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">политика конфиденциальности</a>
        <a href="#">карта сайта</a>
        <a href="#">о компании</a>
        <a href="#">контакты</a>
      </li>
    </ul>
  </nav>
</footer>